

p {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(241, 183, 243, 0.589);
  width: auto;
  color: brown;
  margin: inherit;
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:hover{
  background-color: lightskyblue;
}

.active {
  background-color: #4CAF50;
}

body  {

    background-image: url(https://pic1.zhimg.com/v2-105516247ad166730f5a68490eca7674_r.jpg?source=172ae18b);
    background-size: 100%;
}

